<div class="making-link">
<% unless current_user == user %>
  <% if current_user.making?(user) %>
    <%= form_for(current_user.making_relationships.find_by(making_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :making_id, user.id %>
      <%= f.submit 'お気に入り解除' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.making_relationships.build) do |f| %>
      <%= hidden_field_tag :making_id, user.id %>
      <%= f.submit '★お気に入りに登録★' %>
    <% end %>
  <% end %>
<% end %>
</div>