<% breadcrumb :following %>
<div class="users-link">
<%= link_to image_tag("home.png", size: '50x40'), user_path(current_user.id), class: "users-home" %> 
        <span class="users-home-link">マイページ</span>
        <b class="favorite-link">
          <%= link_to "★",{controller: :users,action: :makings,user_id: current_user.id}, method: :get, class: "f-link" %>
        </b>
</div>
<% if @user.all_following.present? %>
<div class="follow-count"><%= "現在フォローしているユーザーは#{@user.follow_count}人です"%></div>
<% @user.all_following.each do |user| %>
  <div class="aaa">
    <div class="wrapping">
      <% if current_user.making_ids.include?(user.id) %>
        <div class="follow-name">
          <%= "★#{user.name}さん★" %> 
          <%= link_to '詳細', user_path(user), class: "syousai" %>
        </div>
      <% else %>
        <div class="follow-name">
          <%= "#{user.name}さん" %> 
          <%= link_to '詳細', user_path(user), class: "syousai" %>
        </div>
      <% end %>
      <div class="follow-list">
        <div class="u-f">
          <%= user.follow_count %>フォロー
        </div>
       <div class="u-f-er">
          <%= user.followers_count %>フォロワー
        </div>
      </div>
    </div>
  </div>
<% end %>
<% else %>
  <div class="follow-count">現在のフォロー人数は0人です</div>
<% end %>