<% unless @user.id == current_user.id%>
<div class="match-user">
  <%= "#{@user.name}さんのページ"%>
</div>

<div class="follow-list">
  <div class="u-f">
    <%= @user.follow_count %>フォロー
  </div>
  <div class="u-f-er">
    <%= @user.followers_count %>フォロワー
  </div>
</div>
 <div class="rap">
  <div class="unless-follow">
    <%= render 'follow_form' %>
  </div>
</div>
<% else %>
  <div class="no-my-id"><%= "※自分をフォローすることはできません"%></div>
<% end %>

<div class="back-link">
  <%= link_to ">>マイページへ", user_path(current_user.id)%>
</div>
<div class="back-link">
    <%= link_to ">>トップページへ", root_path%>
</div>