<div class="match-user">
  <%= "#{@user.name}さんのページ"%>
</div>

<div class="follow-list">
  <div class="u-f">
    <%= @user.follow_count %>フォロー
  </div>
  <div class="u-f-er">
    <%= @user.followers_count %>フォロワー
  </div>
</div>
 <div class="rap">
<% unless current_user.id == @user.id %>
  <div class="unless-follow">
    <%= render 'follow_form' %>
  </div>
<% end %>
</div>

<div class="back-link">
    <%= link_to ">>トップページへ", root_path%>
</div>