<% breadcrumb :match %>
<div class=my-page>
  <% unless @user.id == current_user.id%>
  <% if current_user.making_ids.include?(@user.id) %>
    <div class="match-user">
      <%= "★#{@user.name}さん★のページ"%>
    </div>
  <% else %>
    <div class="match-user">
      <%= "#{@user.name}さんのページ"%>
    </div>
  <% end %>

<div class="follow-list">
  <div class="u-f">
    <%= @user.follow_count %>フォロー
  </div>
  <div class="u-f-er">
    <%= @user.followers_count %>フォロワー
  </div>
</div>
 <div class="rap">
  <div class="unless-follow">
    <%= render 'follow_form' %>
  </div>
</div>
<% else %>
  <div class="no-my-id"><%= "※自分をフォローすることはできません"%></div>
<% end %>
</div>