<div class="search-wrap">
  <% breadcrumb :search %>
<div class="search-parent">
  <div class="search-page">〜ユーザー検索ページ〜</div>
  <div class="search-form">
    <%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "8桁の数字を入力", class: "search-input", minlength: "8", size: "30x20"%>
    <%= submit_tag '検索' %>
    <% end %>
  </div>
</div>
<div class="match-id">
  <%= "⬇︎検索されたIDと一致したユーザーが以下に表示されます⬇︎" %>
</div>
<% @users.each do |user| %>
  <% if user %>
    <div class="user-candidate">
      <%= link_to "#{user.name}さんのページへ", match_user_path(user.id) %>
    </div>
  <% end %>
<% end %>
</div>