<% breadcrumb :mypage %>
<div class=my-page>   
  <div class="schedule-top">
    <div class="apotime">
      <%= @user.name %>のマイページ
    </div>
    <div class="current_search_number">
      <%= "ユーザーID：#{@user.search_number}"%>
    </div>
</div>

  <% if @user.schedule.present? %>
    <div class="last-edit">
      ※スケジュール最終更新：<%= @schedule.updated_at.strftime("%m月 %d日") %>
    </div>
  <% end %>
  <% if @user.id == current_user.id%>
  <div class="follow-list">
    <div class="">
      <%= @user.follow_count %>
      <%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
    </div>
    <div class="">
      <%= @user.followers_count %>
      <%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>
    </div>
  </div>
  <% else %>
    <div class="follow-list">
      <div class="follow-c">
        <%= "#{@user.follow_count}フォロー" %>
      </div>
      <div class="follower-c">
        <%= "#{@user.followers_count}フォロワー" %>
      </div>
    </div>
  <% end %>

<% if @user.id == current_user.id%>
  <div class="week-of-schedule">
    <div class="sunday">
      <div class="sun">日曜日</div>
      <div class="sun-s"><% unless @schedule.from_time_sun.present? %><%="0"%><% end %><%= "#{@schedule.from_time_sun}"%>：00 〜 <% unless @schedule.to_time_sun.present? %><%="0"%><% end %><%= "#{@schedule.to_time_sun}：00" %></div>
    </div>
    <div class="monday">
      <div class="mon">月曜日</div>
      <div class="mon-s"><% unless @schedule.from_time_mon.present? %><%="0"%><% end %><%= "#{@schedule.from_time_mon}"%>：00 〜 <% unless @schedule.to_time_mon.present? %><%="0"%><% end %><%= "#{@schedule.to_time_mon}：00"%></div>
    </div>
    <div class="tuesday">
      <div class="tue">火曜日</div>
      <div class="tue-s"><% unless @schedule.from_time_tue.present? %><%="0"%><% end %><%= "#{@schedule.from_time_tue}"%>：00 〜 <% unless @schedule.to_time_tue.present? %><%="0"%><% end %><%= "#{@schedule.to_time_tue}：00"%></div>
    </div>
    <div class="wednesday">
      <div class="wed">水曜日</div>
      <div class="wed-s"><% unless @schedule.from_time_wed.present? %><%="0"%><% end %><%= "#{@schedule.from_time_wed}"%>：00 〜 <% unless @schedule.to_time_wed.present? %><%="0"%><% end %><%= "#{@schedule.to_time_wed}：00"%></div>
    </div>
    <div class="thursday">
      <div class="thu">木曜日</div>
      <div class="thu-s"><% unless @schedule.from_time_thu.present? %><%="0"%><% end %><%= "#{@schedule.from_time_thu}"%>：00 〜 <% unless @schedule.to_time_thu.present? %><%="0"%><% end %><%= "#{@schedule.to_time_thu}：00"%></div>
    </div>
    <div class="friday">
      <div class="fri">金曜日</div>
      <div class="fri-s"><% unless @schedule.from_time_fri.present? %><%="0"%><% end %><%= "#{@schedule.from_time_fri}"%>：00 〜 <% unless @schedule.to_time_fri.present? %><%="0"%><% end %><%= "#{@schedule.to_time_fri}：00"%></div>
    </div>
    <div class="saturday">
      <div class="sat">土曜日</div>
      <div class="sat-s"><% unless @schedule.from_time_sat.present? %><%="0"%><% end %><%= "#{@schedule.from_time_sat}"%>：00 〜 <% unless @schedule.to_time_sat.present? %><%="0"%><% end %><%= "#{@schedule.to_time_sat}：00"%></div>
    </div>
  </div>
  <div class="current-location">
    <%= "居住地：#{@schedule.location}"%>
  </div>
<% end %>

  <% if @user.id == current_user.id%>
  <div class="edit-schedule-link">
    <% unless @schedule %>
      <%= link_to "スケジュールを登録する", new_schedule_path%>
    <% else %>
      <%= link_to "スケジュールを変更する", edit_schedule_path(@schedule.id), method: :get %>
    <% end %>
  </div>
  <% end %>

  <% unless current_user.id == @user.id %>
  <div class="rap">
    <div class="unless-follow">
      <%= render 'follow_form' %>
    </div>
  </div>
  <div class="follow_form">
  <% end %>

  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <div class="to-chat"><a href="/rooms/<%= @roomId %>">DMルームへ</div>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <div class="to-chat">
          <%= f.submit "DMルーム作成" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>