<% breadcrumb :how_to %>
<div class="how-to-all">
  <div class="how-to-title">〜本アプリケーションの使い方〜</div>
  <div class="how-to-start">
    <div class="how-to-list">✔︎新規登録をしたらまず<b class="how-to-link">"スケジュールを登録する"</b>のリンクから以下の画像ように各曜日ごとに<b>"タスクのない時間帯"</b>と居住地（※必須）を登録します。忙しい時間は空欄にしましょう。（ゲストユーザーは登録済みのため表示リンクが異なります）<p class="how-to-please">※登録可能な時間は00:00〜24:00までです。</p></div>
    <div class="new-schedule-image">
      <%= image_tag 'schedule2.png' , size: '1000x600' %>
    </div>
  <div>
  <div class="under-arrow-one">⬇︎</div>
  <div class="how-to-follow">✔︎登録が完了したらトップページに複数のリンクが追加されます。<b class="how-to-link">"マイページ"</b>では登録されたスケジュールとユーザーIDなどを確認することができます。このユーザーIDを使って、アカウントを検索することできます。<b class="how-to-link">"ユーザー検索"</b>のリンクから以下のように右上の検索フォームにユーザーIDを入力すると、該当するユーザーの詳細ページに遷移できるリンクが生成されます。</div>
  <div class="follow-image">
    <%= video_tag 'follow.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %>
  </div>
  <div class="under-arrow-two">⬇︎</div>
  <div class="how-to-dm">✔︎ユーザーをフォローすると、<b>"DM（ダイレクトメッセージ）ルーム"</b>を作成することができます。<b class="how-to-link">"DMルームを作成"</b>のリンクをクリックするとルーム内でDMを送ることができます。ルーム作成後は相手アカウントの詳細ページ（フォローリストやタイムライン、通知から遷移可能）からルームへ入ることができます。</div>
  <div class="dm-image"><%= video_tag 'dm.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %></div>
  <div class="under-arrow-three">⬇︎</div>
  <div class="how-to-timeline">✔︎トップページの<b class="how-to-link">"タイムライン"</b>のリンクから、フォローしているユーザーのその日のスケジュールを確認することができます。また、タイムラインに表示されている名前をクリックすると詳細ページに遷移します。相手の暇な時間を狙ってアポを取ってしまいましょう。</div>
  <div class="tl-image">
    <%= video_tag 'tl.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %>
  </div>
  <div class="under-arrow-four">⬇︎</div>
  <div class="how-to-notifications">✔︎他のアカウントからフォローされたりDMが送られてくると、通知が送られてきます。トップページの<b class="how-to-link">"通知"</b>のリンクをクリックすると新規通知が降順で表示されます。このページでも先ほどと同様に名前のリンクから詳細ページに遷移できます。</div>
  <div class="notifications-image">
    <%= video_tag 'notifications.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %>
  </div>
  <div class="under-arrow-five">⬇︎</div>
  <div class="how-to-room-list">✔︎<b class="how-to-link">"ルーム一覧"</b>のリンクから自分がフォローしているユーザーのうち、、DMルームを作成したユーザーの一覧を確認することができます。名前のリンクをクリックすると直接ルームのページへ遷移します。</div>
  <div class="room-list-image">
    <%= video_tag 'room-list.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %>
  </div>
  <div class="under-arrow-six">⬇︎</div>
  <div class="how-to-favorite">※お気に入り登録したユーザーには★が表示されます。トップページの<b class="how-to-link">"★"</b>を押すとお気に入り一覧ページに遷移できます。同ページの<b class="how-to-link">"お気に入りタイムライン"</b>のリンクからお気に入りのみのタイムラインが表示されます。</div>
  <div class="favorite-image">
    <%= video_tag 'favorite.mp4', :autoplay => true, :loop => true, :autobuffer => true, size: '1000x600' %>
  </div>
</div>