<div class="head_bar">
  <p class="new_schedule">仕事がない時間帯を記入してください</p>
  <p class="please">※時間が埋まっている曜日は12〜12のように同じ数字にしてください</p>

<%= form_with(model: @schedule, local: true) do |f| %>
  <div class="day_of_week">
    <div class="sun-new">
      日曜日:<%= f.text_area :from_time_sun, rows: "1", maxlength: "2", placeholder: "12" %>〜<%= f.text_area :to_time_sun, rows: "1", maxlength: "2", placeholder: "18" %>
    </div>
    <div class="mon-new">
      月曜日:<%= f.text_area :from_time_mon, rows: "1", maxlength: "2", placeholder: "12" %>〜<%= f.text_area :to_time_mon, rows: "1", maxlength: "2", placeholder: "18" %>
    </div>
    <div class="tue-new">
      火曜日:<%= f.text_area :from_time_tue, rows: "1", maxlength: "2", placeholder: "00" %>〜<%= f.text_area :to_time_tue, rows: "1", maxlength: "2", placeholder: "00" %>
    </div>
    <div class="wed-new">
      水曜日:<%= f.text_area :from_time_wed, rows: "1", maxlength: "2", placeholder: "18" %>〜<%= f.text_area :to_time_wed, rows: "1", maxlength: "2", placeholder: "22" %>
    </div>
    <div class="thu-new">
      木曜日:<%= f.text_area :from_time_thu, rows: "1", maxlength: "2", placeholder: "18" %>〜<%= f.text_area :to_time_thu, rows: "1", maxlength: "2", placeholder: "22" %>
    </div>
    <div class="fri-new">
      金曜日:<%= f.text_area :from_time_fri, rows: "1", maxlength: "2", placeholder: "18" %>〜<%= f.text_area :to_time_fri, rows: "1", maxlength: "2", placeholder: "22" %>
    </div>
    <div class="sat-new">
      土曜日:<%= f.text_area :from_time_sat, rows: "1", maxlength: "2", placeholder: "12" %>〜<%= f.text_area :to_time_sat, rows: "1", maxlength: "2", placeholder: "22" %>
    </div>
    <div class="location">
      住んでいる都道府県：<%= f.text_area :location, rows: "1", maxlength: "10", placeholder: "東京" %>
    </div>
  </div>
  <%= f.submit "登録" %>
<% end %>
  <div class="back-link">
    <%= link_to ">>トップページへ", root_path%>
  </div>
</div>