<% breadcrumb :schedule_show %>
<div class=my-page-schedule>
<div class="schedule-show">
  <%= "〜#{@user.name}さんのスケジュール〜"%>
</div>
<div class="week-of-schedule">
    <div class="sunday">
      <div class="sun">日曜日</div>
      <div class="sun-s"><% unless @schedule.from_time_sun.present? %><%="0"%><% end %><%= "#{@schedule.from_time_sun}"%>：00 〜 <% unless @schedule.to_time_sun.present? %><%="0"%><% end %><%= "#{@schedule.to_time_sun}：00" %></div>
    </div>
    <div class="monday">
      <div class="mon">月曜日</div>
      <div class="mon-s"><% unless @schedule.from_time_mon.present? %><%="0"%><% end %><%= "#{@schedule.from_time_mon}"%>：00 〜 <% unless @schedule.to_time_mon.present? %><%="0"%><% end %><%= "#{@schedule.to_time_mon}：00"%></div>
    </div>
    <div class="tuesday">
      <div class="tue">火曜日</div>
      <div class="tue-s"><% unless @schedule.from_time_tue.present? %><%="0"%><% end %><%= "#{@schedule.from_time_tue}"%>：00 〜 <% unless @schedule.to_time_tue.present? %><%="0"%><% end %><%= "#{@schedule.to_time_tue}：00"%></div>
    </div>
    <div class="wednesday">
      <div class="wed">水曜日</div>
      <div class="wed-s"><% unless @schedule.from_time_wed.present? %><%="0"%><% end %><%= "#{@schedule.from_time_wed}"%>：00 〜 <% unless @schedule.to_time_wed.present? %><%="0"%><% end %><%= "#{@schedule.to_time_wed}：00"%></div>
    </div>
    <div class="thursday">
      <div class="thu">木曜日</div>
      <div class="thu-s"><% unless @schedule.from_time_thu.present? %><%="0"%><% end %><%= "#{@schedule.from_time_thu}"%>：00 〜 <% unless @schedule.to_time_thu.present? %><%="0"%><% end %><%= "#{@schedule.to_time_thu}：00"%></div>
    </div>
    <div class="friday">
      <div class="fri">金曜日</div>
      <div class="fri-s"><% unless @schedule.from_time_fri.present? %><%="0"%><% end %><%= "#{@schedule.from_time_fri}"%>：00 〜 <% unless @schedule.to_time_fri.present? %><%="0"%><% end %><%= "#{@schedule.to_time_fri}：00"%></div>
    </div>
    <div class="saturday">
      <div class="sat">土曜日</div>
      <div class="sat-s"><% unless @schedule.from_time_sat.present? %><%="0"%><% end %><%= "#{@schedule.from_time_sat}"%>：00 〜 <% unless @schedule.to_time_sat.present? %><%="0"%><% end %><%= "#{@schedule.to_time_sat}：00"%></div>
    </div>
  </div>
  <div class="current-location">
    <%= "居住地：#{@schedule.location}"%>
  </div>
</div>