<% breadcrumb :room_list %>

<div class="room-list">
  <div class="room-list-title">〜ルーム一覧〜</div>
  <% @room = Entry.where(user_id: current_user.id) %>
  <div class="room-count">
    <%= "ルーム数：#{@room.count}" %>
  </div>
  <% unless @room.present?%>
    <div class="no-room">まだルームはありません</div>
  <% end %>
  <div class="room-list-name-wrap">
    <% current_user.all_following.each do |user| %>
    <% @room = Entry.where(user_id: current_user.id) %>
    <% @rooms = Entry.where(user_id: user.id)%>
      <% @room.each do |room| %>
        <% @rooms.each do |rooms| %>
          <% if room.room_id == rooms.room_id %>
            <% if current_user.making_ids.include?(user.id) %>
              <div class="room-list-name">
                <a href="/rooms/<%= room.room_id %>">
                <%= "★#{user.name}のルーム★" %>
                <% if user.messages.present? %>
                  <span class="balloon-room"><%= "最終メッセージ：#{time_ago_in_words(user.messages.max.created_at)}前" %></span>
                <% else %>
                  <span class="balloon-room">メッセージはありません</span>
                <% end %>
              </div>
            <% else %>
              <div class="room-list-name">
                <a href="/rooms/<%= room.room_id %>">
                <%= "#{user.name}のルーム" %>
                <% if user.messages.present? %>
                  <span class="balloon-room"><%= "最終メッセージ：#{time_ago_in_words(user.messages.max.created_at)}前" %></span>
                <% else %>
                  <span class="balloon-room">メッセージはありません</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>