<% breadcrumb :room_show %>
<div class="dm-all">

<div class="dm-room">
  <%= "〜DMルーム〜"%>
</div>

  <div class="join">⬇︎参加者⬇︎</div>
  <% @entries.each do |e| %>
    <div class="join-member"><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></div>
  <% end %>

<div class="text-field-size">
<%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい", size: "60x20" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <%= f.submit "送信する", class: "button" %>
<% end %>
</div>

<% if @messages.present? %>
  <% @messages.each do |m| %>
    <% if m.user_id == current_user.id%>
      <div class="current-dm-wrap">
        <div class="message-dm"><strong><%= m.content %></strong></div>
        <div class="join-member-message">
          <div class="sender-name">by <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %></a></div>
          <div class="created-at">
            <time datetime="<%= m.created_at %>">
              <%= time_ago_in_words(m.created_at) %>前
            </time>
          </div>
        </div>
      </div>
    <% else %>
      <div class="visited-dm-wrap">
        <div class="message-dm"><strong><%= m.content %></strong></div>
        <div class="join-member-message">
          <div class="sender-name">by <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %></a></div>
          <div class="created-at">
            <time datetime="<%= m.created_at %>">
              <%= time_ago_in_words(m.created_at) %>前
            </time>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="nothing-message">
    メッセージはまだありません
  </div>
<% end %>
</div>