<!DOCTYPE html>
<html>
  <head>
    <title>LSearcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div class="wrapper"> 
    <div class="title">
      <i><%= link_to "L-searcher", root_path, class: "title_link"%></i>
      <% if user_signed_in? && current_user.schedule.present? %>
        <%= link_to image_tag("home.png", size: '50x40'), user_path(current_user.id), class: "home" %> 
        <span class="home-top">マイページ</span>
        <% unless current_page?(edit_user_registration_path(current_user.id)) %>
        <b class="favorite-link">
          <%= link_to "★",{controller: :users,action: :makings,user_id: current_user.id}, method: :get, class: "f-link" %>
        </b>
        <% end %>
      <% end %>
    </div>
    <div class="back-link">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
